body{
    margin: 0%;
    padding: 0%;
    background-image: url(/img/img1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed
}